.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: var(--background-color-00B4D8);
  border-radius: 6px;
}
.buttonText {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-white-FFFFFF);
}
