.footer {
  width: 100%;
}

.footerWraper {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
  align-items: baseline;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigationList {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.reading {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-right: 50px;
}
.navigationItem {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  opacity: 70%;
}
.navigationContacts {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.navigationService {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  opacity: 70%;
}
.navigationNumber {
  font-size: 18px;
  line-height: 24px;
}
